@import '../../mixins/texts';
@import '../../fonts';
.header {
  background-color: #141a20;
  height: 60px;
  .container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      @include header-title;
      span {
        color: #00a4e5;
      }
    }
    .navigation {
      width: 300px;
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        .navText {
          @include nav-text;
          cursor: pointer;
          position: relative;
          &::after {
            content: '';
            display: block;
            background-color: #00a4e5;
            height: 3.5px;
            border-radius: 1px;
            left: 0;
            position: absolute;
            transform-origin: left;
            margin: 10px 0 0 0;
            animation-name: reversess;
            animation-duration: 0.5s;
          }
          &:hover::after {
            animation-name: underlined;
            animation-duration: 0.5s;
            width: 100%;
          }
        }
        @keyframes underlined {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
        @keyframes reversess {
          from {
            width: 100%;
          }
          to {
            width: 0%;
          }
        }
      }
    }
  }
}
